* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
}

.header img {
  height: 50px;
}

.header ul {
  list-style: none;
}

.header_menu a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.header_menu a:hover {
  text-decoration: underline;
}

h2 {
  padding: 20px;
}

.foto {
  width: 200px;
  height: 300px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.desenvolvedores {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin: 10px;
  gap: 10px;
}

.icon {
  width: 50px;
  height: 50px;
}

.footer {
  background-color: #f8f9fa;
  padding: 2rem 0;
}

.footer-content {
  text-align: center;
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-info {
  list-style: none;
}

.footer-info li {
  margin-bottom: 0.5rem;
}

.footer-bottom {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.footer-bottom p {
  margin: 0;
}
