* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: black;
}

.header img {
  height: 50px;
}

.header ul {
  list-style: none;
}

.header_menu a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  margin-left: 1rem;
}

.header_menu a:hover {
  text-decoration: underline;
}

h2 {
  padding: 20px;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

main {
  height: auto;
  padding: 2rem;
  background-color: #ffffff;
}

.desenvolvedores {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.desenvolvedores div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

p {
  max-width: 600px;
  text-align: justify;
}

.icon {
  width: 30px;
  height: auto;
}

.footer {
  background-color: black;
  padding: 2rem 0;
  color: white;
}

.footer-content {
  text-align: center;
}

.footer-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-info {
  list-style: none;
}

.footer-info li {
  margin-bottom: 0.5rem;
}

.footer-bottom {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

@media (max-width: 768px) {
  .desenvolvedores div {
    flex-direction: column;
    text-align: center;
  }
}
